---
const {id, backgroundColor} = Astro.props;
---

<section id={id} style=`background-color:${backgroundColor};`>
    <div class="ancho-limitado">
        <slot name="contenido"></slot>
    </div>
</section>