---

---
<div id="plan-pago-care">
    <div class="p-20">
        <div class="flex flex-column text-center content-block-pago">
            <span class="fw-600 text-16">Free</span>
            <label class="">Gratis</label>
            <a class="m-top-20 unete-ahora-reverse" href="#">Únete ahora</a>
        </div>

        <ul class="m-top-30 p-left-15 lh-40">
            <li>Información sobre subvenciones</li>
            <li><b>Masterclass gratis</b></li>
            <li>Canal en Telegram con la comunidad</li>
            <li>Canal en Linkedln con la comunidad</li>
            <li>Consultoría gratuita <b>Kit Digital</b></li>
            <li>Envío Podcast semanal</li>
            <li>Eventos puntuales online</li>
            <li>Invitación a eventos presenciales</li>
        </ul>
    </div>
</div>
<style>
div#plan-pago-care{max-width:370px; width:100%; border:1px solid #abb8c3; border-radius:15px; height:fit-content;}
div.content-block-pago > label{font-size:60px; font-weight:400;}
</style>