---

---
<div id="plan-pago-care">
    <div class="p-20">
        <div class="flex flex-column text-center content-block-pago">
            <span class="fw-600 text-16">Premium</span>
            <label class="">mes</label>
            <a class="m-top-20 unete-ahora" href="#">¡PRÓXIMAMENTE!</a>
        </div>

        <ul class="m-top-30 p-left-15 lh-40">
            <li>Información sobre subvenciones</li>
            <li><b>Masterclass semanales</b></li>
            <li>Canal en Telegram con la comunidad</li>
            <li>Canal en Linkedln con la comunidad</li>
            <li>Consultoría gratuita <b>Kit Digital</b></li>
            <li>Envío Podcast semanal</li>
            <li><b>Eventos online y presenciales</b> mensuales</li>
            <li><b>Eventos de networking</b> online y presenciales</li>
            <li><b>Formación</b> online de calidad, tendrás acceso a nuestros cursos de formación para empresarios y directivos</li>
            <li><b>Visibilidad</b> dentro del Club, a través de masterclass, y de nuestros canales de información</li>
            <li><b>Accesoa a todos los videos</b> de eventos realizados, tanto online como presenciales</li>
            <li>Una aplicación donde poder tener acceso a todos los grupos locales y la información de todos los socios del Club. Así como poder inscribirte a los eventos online y presenciales.</li>
        </ul>
    </div>
</div>
<style>
div#plan-pago-care{max-width:370px; width:100%; border:1px solid var(--color-primary); border-radius:15px;}
div#plan-pago-care > div > ul > li{line-height:30px; margin:10px 0px;}
div.content-block-pago > label{font-size:60px; font-weight:400;}

</style>