	
	body{margin:0px; padding:0px; font-family:'Poppins';}
    strong{font-weight:600; font-family:'Poppins'; color:#5a5a5a;}

	/* Header */
	header{box-shadow:0px 4px 10px #b4b5b94d; padding-bottom:5px; position:fixed; background-color:#FFF; width:100%; z-index:9999;}
    div.content-header{max-width:1200px; width:100%; margin:20px auto; padding-top:20px; align-items:center;display:flex; flex-direction:row; justify-content: space-between;}
    div.content-header > nav > ul > li > a{margin:0px 10px; text-decoration:none; font-size:15px; color:black;}
    div.content-header > nav > ul{display:flex; flex-direction: row; justify-content: space-between; list-style-type:none;}
    div.content-header > nav > ul > li{position:relative;}
    nav#menu-superior-care > ul > li:hover > ul.submenu{display:block;}
    div.content-header > button{border:none; background-color:#cba036; transition:all 0.4s ease-in;padding: 15px 40px; color: #FFF;text-decoration: none;font-size: 15px;letter-spacing: 0.07px;border-radius: 4px;}

	/* Home */
	ul.list-check{list-style-type:disc;}
	ul.list-check > li{margin-bottom:15px;}
	ul.list-check > li::marker{color:#cba036;}
	.icon-block{width:49px; height:49px;}
	ul.listado-block2 > li{margin-bottom:8px;}
    .btn-especial{width:400px !important; text-align:center; display:block; background-color: var(--black); color:#FFF;}

    .imagen-fran{width:100%; height:770px;}

	div#listado-podcast, div#listado-profesionales{display:flex; flex-direction:row; justify-content: flex-start; flex-wrap:wrap; gap:15px;}
	div#listado-profesionales{gap:40px;}
	div#listado-podcast > div{flex-basis:24%; margin-bottom:50px;}
	div#listado-podcast > div > div.item-podcast{-webkit-box-shadow: 10px 10px 5px -3px rgba(235,235,235,1);
	-moz-box-shadow: 10px 10px 5px -3px rgba(235,235,235,1);
	box-shadow: 10px 10px 5px -3px rgba(235,235,235,1);}
	div#listado-podcast > div > div.item-podcast{padding:20px 10px 20px 10px; height:280px;}
	div#listado-podcast > div > div.item-podcast > h3{color:black; font-weight:600;  margin:0px; font-size: 16px; min-height: 80px; font-family:'Poppins';}
	div#listado-podcast > div > div.item-podcast > p{font-size:14px;}
	div#listado-podcast > div > div.item-podcast > a{color:#cba035; display:flex; text-decoration: none;}
	div#banner-podcast{background-size:cover; height:550px; background-repeat:no-repeat;}
	div#banner-podcast > main > div{width:100%; max-width:650px; float:left; margin-top:50px;}
	h1.cabecera-titulo{margin-bottom:45px;}

	div#banner-podcast > main > div#content-care-experts{width:1200px; margin:0 auto; display:flex; flex-direction:row; justify-content: space-between;}
    div#flex-care-experts{display:flex; flex-direction:row;justify-content: space-between; align-items:center; color:#FFF;}
    .bottom-background{background-position:bottom;}
    .btn-dorado{background-color:#cba036; color:#FFF; text-decoration:none; padding:10px 20px; border-radius:5px; margin-top:30px; display:block; width:fit-content; }
	#listado-profesionales > div{text-align: center;}
	#listado-profesionales > div > h3{margin-top:0px;}
	#listado-profesionales{margin-bottom:40px;}

	footer{background-color:#000 !important; padding:20px 0px;}
    div#content-footer{display:flex; flex-direction:row; justify-content: space-between; align-items:center;}
    div#content-footer > *{flex-basis:24%;}
    div#content-footer > a{background-color:#cba036; text-align:center; text-decoration:none; color:#FFF; padding:15px 20px; border-radius:10px;}
    #menu-footer > ul{list-style-type:none;}
    #menu-footer > ul > li > a{color:#FFF; text-decoration:none;}
    #redes-sociales > span{color:#FFF;}

	section#franja1{background-color:#f7f9fc; padding:50px 0px;}
	section#franja2{padding:50px 0px;}
	div#content-about{display:flex; flex-direction: row; justify-content: space-between; align-items:center;}
	div#content-about > div:first-child{padding-right:60px;}
	div#content-about > div:last-child{max-width:520px; width:100%;}
	div#content-about > div > h1{color:#cba036; font-size:35px;}
	div#content-about > div > h1 > strong{color:black; }
	div#content-about > div > p{line-height:30px; color:rgb(74, 74, 74);}
	div#content-about > div > p > strong{font-weight:bold;}

	div#content-foto{display:flex; flex-direction: row; justify-content: space-between; align-items:center;}
	div#content-foto > div:first-child{flex-basis:45%; }
	div#content-foto > div:last-child{flex-basis:45%;}
	div#content-foto > div > h1{color:#cba036; font-size:35px;}
	div#content-foto > div > h1 > strong{color:black; }
	div#content-foto > div > p{line-height:30px; color:rgb(74, 74, 74);}
	div#content-foto > div > p > strong{font-weight:bold;}