---
import Layout from '../layouts/Layout.astro';
import cabeceraFondo from '../../public/PodcastsCare.webp';
import ReactPodcast from '../components/especificos/ReactPodcast';
---

<Layout title="Podcast CARE">
	<!-- Componente Banner -->
	<div id="banner-podcast" style=`background-image:url(${cabeceraFondo.src});`>
		<main>
			<div>
				<h1><strong>Podcast</strong> CARE</h1>
				<p>Bienvenido/a al podcast del Club de Alto rendimiento empresarial. Un podcast en el que te contaré todo lo que a mi me hubiese gustado que me contaran cuando comencé con mi empresa.</p>
				<p>Cada semana hablaremos sobre <strong>marketing digital, estrategias de negocio, ventas, productividad, inversiones </strong>, y todo aquello que necesitarás como emprendedor, o como empresario ya consolidado, para mejorar tu conocimiento y hacer mucho más rentable tu empresa.</p>
				<p> <strong>Escuchalo en las siguientes plataformas</strong></p>
			</div>
		</main>
	</div>

	<main>		
		<center><h1 class="cabecera-titulo">Últimos <span class="text-gradient">Podcast</span></h1></center>
	 <ReactPodcast client:visible/> 
	</main>
</Layout>