---
import imageCare from '../../public/CARE.png';
---
<footer style="padding:35px 0px;">
    <main>
        <div id="content-footer">
            <picture>
                <img src={imageCare.src} title="CARE" alt="CARE"/>
            </picture>
            <nav id="menu-footer">
                <ul>
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Política de Cookies</a></li>
                </ul>
            </nav>
            <div id="redes-sociales">
                <span>Siguenos en Redes Sociales</span>
            </div>
            <a href="#">Contacta con Nosotros</a>
        </div>
    </main>
</footer>
