---
/* Components */
import SemiBlock from './SemiBlock.astro';

import imageCare from '../../public/CARE.png';
---

<SemiBlock backgroundColor="#cba03640" alignItems="center">
    <div class="flex-basis-50" slot="left-block">
        <h4 class="text-s fw-300 lh-40"><b>Lleva a tu empresa a otro nivel</b></h4>
        <p class="lh-35 text-16">Hazte miembro AHORA del Club de Alto Rendimiento Empresarial, y mejora los resultados de tu empresa. Aprende, conecta, consigue más visibilidad y aprende de la experiencia de otras empresarios y empresarias que te ayudarán a avanzar mucho más rápido en tu negocio.</p>
    </div>
    <div class="flex-basis-40" slot="right-block">
        <a class="unete-ahora-reverse btn-especial" href="#">¡Quiere unirme a CARE!</a>
    </div>
</SemiBlock>


<footer style="padding:35px 0px;">
    <main>
        <div id="content-footer">
            <picture>
                <img src={imageCare.src} title="CARE" alt="CARE"/>
            </picture>
            <nav id="menu-footer">
                <ul>
                    <li><a href="#">Aviso Legal</a></li>
                    <li><a href="#">Política de Privacidad</a></li>
                    <li><a href="#">Política de Cookies</a></li>
                </ul>
            </nav>
            <div id="redes-sociales">
                <span>Siguenos en Redes Sociales</span>
            </div>
            <a href="#">Contacta con Nosotros</a>
        </div>
    </main>
</footer>
