---
//Importo componente de imagenes
import {Image} from 'astro:assets';
import logotipo from '../../public/logotipo-care.png';
---
<header>
    <div class="content-header">
        <Image src={logotipo} title="Podcast CARE" alt="Podcast CARE"/>
        <nav id="menu-superior-care">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/nosotros">Sobre el Club</a>
                    <ul class="submenu">
                        <li><a href="nosotros">Qué es el Club</a></li>
                        <li><a href="/nuestra-vision">Nuestra Visión</a></li>
                        <li><a href="/que-queremos-conseguir">Qué queremos conseguir</a></li>
                        <li><a href="/nuestros-valores">Nuestros valores</a></li>
                    </ul>
                </li>
                <li><a href="/podcast">Podcast</a></li>
                <li><a href="/care-experts">Care Experts</a></li>
                <li><a href="/">Actualidad</a></li>
                <li><a href="/">Eventos</a></li>
                <li><a href="/">Contacto</a></li>
            </ul>
        </nav>
        <button class="unete-ahora">Únete ahora</button>
    </div>
</header>