---
//Componente SEMIBLOCK 
const {backgroundColor, alignItems} = Astro.props;
---
<section style=`background-color:${backgroundColor};` class="block-semiblock">
    <div style=`align-items:${alignItems};` class="ancho-limitado flex flex-row flex-space-between p-50">
        <slot name="left-block"/>
        <slot name="right-block"/>
    </div>
</section>