---
//Componente SEMIBLOCK
---
<section class="block-semiblock">
    <div class="ancho-limitado flex flex-row flex-space-between flex-align-center p-50">
        <slot name="left-block"/>
        <slot name="right-block"/>
    </div>
</section>
<style>
    .block-semiblock{background-color:#f7f9fc;}
</style>